/* Hanya load Font Figtree untuk Admin */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Admin specific styles (jika ada) */
[x-cloak] { display: none !important; }

/* Sembunyikan scrollbar default atau perkecil ukurannya */
.flex-1.overflow-y-auto::-webkit-scrollbar {
    width: 4px;
}

.flex-1.overflow-y-auto::-webkit-scrollbar-track {
    background: transparent;
}

.flex-1.overflow-y-auto::-webkit-scrollbar-thumb {
    background: #e2e8f0; /* warna gray-200 */
    border-radius: 10px;
}

.flex-1.overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1; /* warna gray-300 */   
}